.main-header .sidebar-toggle:before {
  content: "";
}

.content-wrap {
  min-height: 0 !important;
  overflow: auto;
}
.user-footer{
  background: #0a90eb;
}

.pull-left{
  float: left;
  border-radius: 10px;
}
.pull-right{
  float: right;
  border-radius: 10px;
}